<%-include('partials/header')%>
<div class="jumbtron jumbtron">
    <h1 class="display-3"><%= title%></h1>
    <p class="lead"> simple Bank app
        <hr class="my-4">
        <p>
            actions include: login,regester,withdraw, deposit
        </p>
        <p class="lead">
            <a class="btn btn-primary btn-lg" href="/login" role="button">Login</a>
	    <a class="btn btn-primary btn-lg" href="/register" role="button">Register</a>
	    <a class="btn btn-primary btn-lg" href="/api" role="button">Api</a>
        </p>
    </p>
</div>
<%-include('partials/footer')%>